<a href="https://colab.research.google.com/github/Precipitation-Rain/Python/blob/main/05_Tuple_%2C_Set_%2C_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

In [ ]:
# List ka bhai
# 2 big diff:
  # 1.immutable
  # 2.closed inside ()
#almost similar

## Creating a tuple

In [ ]:
#empty
t=()
print(t)

()

In [ ]:
#tuple wiht one elment : special case
# t1 =(1) # this will create an integer.
# print(t1)
# print(type(t1))

t1 =(1,) # this is right syntax
print(t1)
print(type(t1))

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
#homogenous
t3 = (1,2,3,4)
print(t3)

(1, 2, 3, 4)

In [ ]:
#hetrogenous
t4 = (1,2.2,'Hello',True,[1,2,3])
print(t4)

(1, 2.2, 'Hello', True, [1, 2, 3])

In [ ]:
#2d
t5 = (1,2,True,(4,5))
print(t5)

(1, 2, True, (4, 5))

In [ ]:
#3d : bahar se andar brackets gino .jitne bracket (((( )))) utne dimension ka tuple
t6 = (1,2,True,(4,5,(7,8,'king',4+3j)))
print(t6)

(1, 2, True, (4, 5, (7, 8, 'king', (4+3j))))

In [ ]:
#type conversio
t7 = tuple('king')
print(t7)

('k', 'i', 'n', 'g')

## Access items from tuple

In [ ]:
# all is same like list
#agar mujhe list me aata hain to me yaha bhi kar lunga

In [ ]:
#indexing
print(t3)
t3[1]
t3[-1]

(1, 2, 3, 4)

4

In [ ]:
#slicing
print(t3)
print(t3[0:3])
print(t3[0:])
print(t3[-3:])
print(t3[0:4:2])

# to reverse tuple
t3[::-1]

(1, 2, 3, 4)
(1, 2, 3)
(1, 2, 3, 4)
(2, 3, 4)
(1, 3)

(4, 3, 2, 1)

In [ ]:
t6

(1, 2, True, (4, 5, (7, 8, 'king', (4+3j))))

In [ ]:
print(t6[3][2][2])

king

## Editing items in tuple

In [ ]:
print(t3)
t3[0] = 1000
#tuple is immutable.Ek bar ban gaya to usme change nahi kar sakte

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

## Adding items in tuple

In [ ]:
#not possible

## Deleting items from tuple

In [ ]:
#you can delete whole tuple but can delete single/muliple items

In [ ]:
print(t3)

(1, 2, 3, 4)

In [ ]:
del t3
print(t3)

NameError: name 't3' is not defined

In [ ]:
print(t3)
del t3[3]

(1, 2, 3, 4)

TypeError: 'tuple' object doesn't support item deletion

## Operations on tuple

In [ ]:
#Arithemetic
t1 = (1,2,3,4)
t2 = (5,6,7,8)

t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
t1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#membership
1 in t1

True

In [ ]:
4 not in t2

True

In [ ]:
#loops

In [ ]:
for i in t1:
  print(i)

1
2
3
4

##Functions of tuple

In [ ]:
t = (1 , 2 , 3 , 4 , 5)

In [ ]:
len(t)

5

In [ ]:
min(t)

1

In [ ]:
max(t)

5

In [ ]:
sum(t)

15

In [ ]:
sorted(t) # always return a list .In also case of string

[1, 2, 3, 4, 5]

##Difference between List and Tuple:

In [ ]:
#Syntax:
# list = [1,2,3,4,5]
# tuple = (1,2,3,4,5)

#Mutatability:
#list = mutable
#tuple = immutable

#speed:
#list = slow
#tuple = fast

#memoty:
#list = more memory
#tuple = less memory

#built in functionality:
#list = more
#tuple = less

#Error prone
#list = more
#tuple = less

#usability
#list = more
#tule = less

## Special syntax:

In [ ]:
#tuple unpacking:
a,b,c,= (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b,c = (1,2,3,4)
print(a,b,c)

ValueError: too many values to unpack (expected 3)

In [ ]:
a,b = 1,2
print(a,b)
a,b = b,a
print(a,b)

1 2
2 1

In [ ]:
a,b,*others = (1,2,3,4,5)
print(a,b,others)

1 2 [3, 4, 5]

## zip function:

In [ ]:
a = (1,2,3)
b = (4,5,6)

tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

# Set

In [ ]:
#unordered
#mutable
#no duplicates
# items must be immutable

## Creating a set:

In [ ]:
#empty:
s = {} # this will create empty dictionary
print(type(s))

s1 = set() # this will create empty set
print(type(s1))

<class 'dict'>
<class 'set'>

In [ ]:
#no 2d or nd sets allowed only 1d allowed
# 1d
s = {1,2,3,4}
print(s)

{1, 2, 3, 4}

In [ ]:
# 2d/nd:
s={1,2,3,{1,2,3}}
print(s)

TypeError: unhashable type: 'set'

In [ ]:
# duplicated not aloowed:
s = {1,2,3,3,2,1}
print(s)

{1, 2, 3}

In [ ]:
#homogenouse:
s={1,2.2,'hello',True,(2,3,4)}
print(s)

{1, 2.2, 'hello', (2, 3, 4)}

In [ ]:
# using type conversion:
s = set([1,2,3])
print(s)

{1, 2, 3}

In [ ]:
#set can't have mutable items:
m={1,2,3,{4,5,6}}
print(m)

TypeError: unhashable type: 'set'

In [ ]:
#order does not matter:
#who decides order -> internal algorithm hashing
a = {1,2,3}
b = {3,2,1}
a == b

True

## Accesing items:

In [ ]:
# you can't access items,becaz it is unordered

## Editing item:

In [ ]:
#if you dont access item then you dont edit items

## Adding items:

In [ ]:
s = {1,2,3,4,5}

# add() : add only one item to position which is decided by hashing algo
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
#update : add multiple items to position which is decided by hashing algo
s.update([4,7,8,9])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Deleting items:

In [ ]:
#del
s = {1,2,3}
del s

In [ ]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#discard():
s.discard(5) # delete item that we give
print(s)

{1, 2, 3, 4, 6, 7, 8, 9}

In [ ]:
s.discard(50) # if we delete such an item which not exist in set then it will don't give any error
print(s)

{1, 2, 3, 4, 6, 7, 8, 9}

In [ ]:
#remove():delete item that we give
print(s)
s.remove(4)
print(s)

{1, 4, 6, 7, 8, 9}
{1, 6, 7, 8, 9}

In [ ]:
#pop() : randomly delete ant item:
s = {1,2,3,4,5,6,7,8,9,0}
print(s) # generally remove first item
s.pop()
print(s)
a =s.pop()
print(s,a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9} 1

In [ ]:
#clear:delete all elements of set but not set
print(s)
s.clear()
print(s)

{2, 3, 4, 5, 6, 7, 8, 9}
set()

## Operations on set:

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

#unioun:
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#intersection:
print(s1 & s2)

{3, 4, 5}

In [ ]:
#difference:
print(s1 - s2)
print(s2 - s1)

{1, 2}
{6, 7}

In [ ]:
#symmetric difference:
print(s1 ^ s2)

{1, 2, 6, 7}

In [ ]:
#membership:
s2 = {3,4,5,6,7}
3 in s2
4 not in s2

False

In [ ]:
#loops
for i in s2:
  print(i)

3
4
5
6
7

##functions:

In [ ]:
s2 = {3,4,5,6,7}

In [ ]:
print(len(s2))

5

In [ ]:
print(min(s2))

3

In [ ]:
print(max(s2))

7

In [ ]:
print(sum(s2))

25

In [ ]:
print(sorted(s2))

[3, 4, 5, 6, 7]

In [ ]:
print(sorted(s2,reverse = True))

[7, 6, 5, 4, 3]

In [ ]:
#intersection/update
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1) # calculate unioun

s1.update(s2) #calculate unioun and store in s1
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
#intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2) # calculate intersection

s1.intersection_update(s2)#calculate intersection and store in s1
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2) # calculate difference

s1.difference_update(s2)#calculate difference and store in s1
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)#calculate symmetric_difference

s1.symmetric_difference_update(s2)#calculate symmetric_difference and store in s1
print(s1)
print(s2)

In [ ]:
# isdisjoint/issubset/issuperset/copy
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issubset(s2)

False

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

##Frozen set:

In [ ]:
#Frozen set is just an immutable version of a Python set

In [ ]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

## Set comprehension:

In [ ]:
#same as list and tuple comprehension

In [ ]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

#Dictionary

In [ ]:
# Dictionary

# Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

# In some languages it is known as map or assosiative arrays.

# dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

# Characterstics:

# - Mutable
# - Indexing has no meaning
# - keys can't be duplicated
# - keys can't be mutable items

## Creating a dictionary:

In [ ]:
# empty dictionary
d = {}
d

{}

In [ ]:
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1

{'name': 'nitish', 'gender': 'male'}

In [ ]:
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [ ]:
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [ ]:
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [ ]:
# duplicate keys : last key wala reh jayega baki hat jeyenge
d5 = {'name':'nitish','name':'rahul'}
d5

{'name': 'rahul'}

In [ ]:
# mutable items as keys
d6 = {'name':'nitish',[1,2,3]:2}
print(d6)

TypeError: unhashable type: 'list'

##Accesing items from dictionary:

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']

26

In [ ]:
# get
my_dict.get('age')

26

In [ ]:
#how to access from nested dictionay:
s['subjects']['maths']

67

##Adding item in dictionary:

In [ ]:
print(d4)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [ ]:
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [ ]:
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

In [ ]:
#adding in nested dictionary:
s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

##Remove key-value pair from dict:

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
d

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [ ]:
#pop : delete item which key we give
d.pop(3)
print(d)


# clear
d.clear()
print(d)

In [ ]:
#popitem() : remove last key value pait
d.popitem()
d.popitem()
print(d)

In [ ]:
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [ ]:
#del : we can delete whole dict or any key-value pair also
del d['name']
print(d)

{'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [ ]:
s={'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

In [ ]:
# #deleting from nested dict:
del s['subjects']['maths']
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

## Editing key-value pair:

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

In [ ]:
#1d
s['name'] = 'Raj'
s

{'name': 'Raj',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

In [ ]:
#2d
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

##Dictiory operations:

In [4]:
d = {'name':'nitish','gender':'male','age':33}
print(d)

'name' in d

{'name': 'nitish', 'gender': 'male', 'age': 33}

True

In [2]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

## Dicttionary Functions

In [7]:
d = {'name':'nitish','gender':'male','age':33}

In [13]:
# len/sorted

In [8]:
# len/sorted
len(d)

3

In [9]:
sorted(d,reverse=True)

['name', 'gender', 'age']

In [10]:
max(d)

'name'

In [14]:
min(d)

'age'

In [12]:
# items/keys/values

In [11]:
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [15]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

## Dictionary Comprehension

In [16]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [17]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [18]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [20]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [21]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

## Zip function

In [19]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

## Special Syntax